<menu class="top-12 right-10 absolute bg-primary z-10 flex flex-col justify-end items-end shadow-default  rounded" >
    <button (click)="onToggleMenu()" class="cursor-pointer flex justify-end p-2 w-fit" [@openClose]="toggleMenu ? 'open' : 'close'"> 
        <img *ngIf="toggleMenu == false" src="assets/icon/menu.svg" class="p-2" />
        <img *ngIf="toggleMenu" src="assets/icon/close.svg" class="p-2" />
    </button>

    <nav *ngIf="toggleMenu" class="bg-primary flex-col justify-center pb-4 md:bg-light-green p-3.5 rounded" @easeInOut>
        <ul class="w-36">
            <li class="flex font-medium text-base p-2 rounded mb-2 hover:bg-background cursor-pointer">
                <img src="assets/icon/favorite.svg" class="mr-2 w-5 h-5" />
                <a [routerLink]="['/favorites']" routerLinkActive="router-link-active">Favorite</a>
            </li>
    
            <li class="flex font-medium text-base p-2 rounded mb-2 hover:bg-background cursor-pointer">
                <img src="assets/icon/saved.svg" class="mr-2 w-5 h-5" />
                <a [routerLink]="['/saved']" routerLinkActive="router-link-active">Saved</a>
            </li>
    
            <li class="flex font-medium text-base p-2 rounded hover:bg-background cursor-pointer">
                <img src="assets/icon/finished.svg" class="mr-2 w-5 h-5" />
                <a [routerLink]="['/finished']" routerLinkActive="router-link-active">Finished</a>
                
            </li>
        </ul>
    </nav>   
</menu>

