<input type="checkbox" id="checkbox-menu" class="peer hidden"/>
<label for="checkbox-menu" class="absolute z-10 flex flex-col top-6 right-4 rounded-full cursor-pointer">
    <img src="assets/icon/user.svg" class="p-2 "/>
</label>

<nav class="bg-[#DBE9F9] absolute flex-col justify-center top-4 right-4 md:bg-light-green p-3.5 rounded shadow-default hidden peer-checked:flex">
    <ul class="w-32 mt-10">
        <li class="flex font-medium text-base p-2 rounded mb-2 hover:bg-dark-green cursor-pointer">
            <img src="assets/icon/favorite.svg" class="mr-2 w-5 h-5" />
            Favorite
        </li>

        <li class="flex font-medium text-base p-2 rounded mb-2 hover:bg-dark-green cursor-pointer">
            <img src="assets/icon/saved.svg" class="mr-2 w-5 h-5" />
            Saved
        </li>

        <li class="flex font-medium text-base p-2 rounded hover:bg-dark-green cursor-pointer">
            <img src="assets/icon/finished.svg" class="mr-2 w-5 h-5" />
            Finished
        </li>
    </ul>
</nav>    

