<app-logo class="flex flex-col justify-center items-center"></app-logo>

<!-- INPUT WITH BUTTON -->
<div class="bg-white rounded-md flex mt-5 w-full">
    <input 
        type="text" 
        class="w-11/12 px-6 py-5 mr-2 rounded-md placeholder-slate-400 focus:outline-none text-ellipsis" 
        placeholder="Type the book that you are looking for" 
    />

    <button class="flex justify-center items-center  px-6 py-5">
        <img src="assets/icon/search-input.svg" />
    </button>
</div>

<app-float-menu>
</app-float-menu>