<img class="lg:w-[32rem] lg:h-[24rem] mb-5 w-10/12 md:w-11/12 md:h-11/12" 
    src="assets/images/home-page-logo.svg" 
/>

<h1 
    class="text-5xl text-center uppercase font-medium tracking-wider md:text-6xl">
    Find your <b classs="font-bold">next</b> book
</h1>


<!-- <img 
    src="assets/images/home-page-logo.svg" 
    class="lg:w-[32rem] lg:h-[24rem] w-11/12 h-11/12 mb-5 md: w-10/12" 
/>
<h1 
    class="text-6xl text-center uppercase font-medium tracking-wider md:text-4xl">
    Find your <b classs="font-bold">next</b> book
</h1> -->